html{
	background-image: url(http://www.bronxton.com/wp-content/uploads/2014/03/Cherry-wood.jpg);
	background-size: cover;
	background-color: black;
	background-position: right;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Varela Round', sans-serif;
}

.bannerimg{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.banner-sep{
	height: 2px;
	background-color: black;
	opacity: .2;

}

.container{
	width: 90%;
	border: 2px solid #000;
	margin-left: auto;
	margin-right: auto;
}

.discussion{
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}

.create-thread{
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper{
	background-image: url(http://i.imgur.com/TT16s.jpg);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	box-shadow: 5px 5px 5px  black;
}

.header{
	text-align: center;
}

.social-icons{
	list-style: none;
	padding: 0;
}

.social-icons li {
	display: inline-block;
	margin: .6em;
	color: #000;
}

.copyright{
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}

.threads{
	font-size: 20px;
	border: 1px solid #000;
	width: 70%;
	margin: 0.3em 0 0.2em 0;
	font-family: 'Varela Round', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.likes-comments{
	text-align: right;
	margin: 0 15px 1px 0;
}
.innerthreads{
	text-align: left;
	margin: 20px 0 0 20px;
	font-size: 16px;
}

.copyright{
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
	text-align: center;
}

.about-contact{
	text-align: center;
}

a:link {
    color: #E4E4E4;
}

a:visited {
    color: #E4E4E4;
}

a:hover {
    color: #89282A;
}